@import "base.scss";

a {
  color: #437e9b;
  &:hover {
    color: #47B5FF;
  }
}

h1 {
  font-size:2em;
  margin-bottom: 0;
}

h5 {
  font-size: 1.7em;
  color: #670000;
  & + h6 {
    margin-top: 0;
  }
}

h6 {
  font-size: 1.3em;
  margin: 1.3em 0 0.5em 0;
  border-bottom: 1px solid #eee;
}

dl {
  font-size: 1.1em;
  padding-top: 1em;
  color: #5F574F;
  dt, dd {
    line-height: 2em;
  }
}

.holdings-cover {
  padding-left: 0;
  padding-bottom: 1em;
}

.holdings-availpanel {
  padding: 1.5em;
  //border: 1px solid #8A9045;
  //border-radius: 1em;
  .availpanel-heading {
    font-size: 1.5em;
    font-weight: 600;
    &.yes {
      color: #616530;
    }
    &.no {
      color: #7c0000;
    }
  }
  .label {
    color: #5F574F;
    font-size: 1.5em;
    font-weight: 300;
    float: left;
    padding: 0;
    margin: 0.5em 1.5em 0.5em 0;
    .value {
      font-weight: 600;
    }
  }
}

.includes {
  font-style: italic;
}

.btn-request {
  background-color: #e7e8d9;
  border-color: #ddd;
  margin: 1em 0;
  & + & {
    margin-left: 1em;
  }
}

.btn-browse {
  @extend .btn-request;
  background-color: #e3dfd5;
}

.holdings-locpanel {
  padding: 0;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  .locpanel-heading {
    background-color: #767676; //#5F574F
    color: #fbfbf9;
    padding: 1em;
    margin-bottom: 0;
    h3 {
      margin: 0 0 0.25em;
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

#e-links {
  .locpanel-heading {
    background-color: #8A9045;
  }
}

.holidings-copy {
  padding: 1em 0 0; 
  line-height: 1.5em;
  .notes {
    line-height: 0.2em;
    font-style: italic;
  }
  table {
    background: transparent;
    width: 100%;
    box-shadow: 0px 5px 5px #ddd;
    & th {
      font-weight: 300;
      padding-left: 1em;
      padding-bottom: 0.3em;
    }
    & tr {
      line-height: 1.5em;
      &:first-child {
        & td {
          padding-top: 0;
        }      
      }
      &:nth-child(even) {
        background-color: #eee;
      }
    }
    & td {
      padding: 1em;
      &:last-child {
        width:  35%;
        vertical-align: top;
      }
    }
    & + table { //sibling tables
      border-top: 1px solid #ddd;
      th {
        padding-top: 1em;
      }
    }
    .call-header {
      border-bottom: 1px solid #ddd;
    }
  }
}

.dl-horizontal {
  dt {
    width: 150px;
  }
  dd {
    margin-left: 160px;
  }
}

.text-success, .text-danger {
  font-size: 1.2em;
}

a.eLink.text-success.external {
  font-size: 1.1em;
}

.explore-list {
  padding-left: 0;
  list-style: none;
  li {
    margin: 0.7em 0;
    &:first-child {
      margin-top: 0;
    }
  }
}

.service { //custom override
  margin: 0;
}

a.bibToggle { //custom override
    margin-top: 0;
    background-color: #f3f2ee;
}

.template-name-view span { //custom override
    font-weight: inherit;
}






