@import "base.scss";

.alert {
  margin: 10px 0;
}

.alert-list {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid;
}

.item-type {
  color: #9A5324;
  font-weight: 600;
}

.due-date {
  font-weight: 600;
  color: #800000;
  font-size: 1.1em;
}

a.title {
  font-weight: 600;
  font-size: 1.1em;
}

[id^="record"] {
	padding-top: 7px;
	padding-bottom: 7px;
  line-height: 1.5em;
	&:nth-of-type(odd) {
		background-color: #fff;
		@include respond-to(small) {
			background-color: #f2efef;
		}
	}
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color: #806362;
}

.toolbar {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

table.table-striped, .table-striped>tbody {
  @include respond-to(smallonly) { //mobile friendly magic
    display: block;
    width: 100%;
    & thead, & tr, & th, & td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }
    & tr {
      border-bottom: 1px solid #ddd;
    }
    & td {
      border: none;
      margin-bottom: 6px;
      color: #444;
    }
  }
}


.template-dir-myresearch.template-name-checkedout table.table th:nth-child(3) {
  width: 12%; //VuFind Overwrite
}

.table-striped > tbody > tr:nth-child(even), .datagrid > tbody > tr:nth-child(even) {
    background-color: #eee; //Need to research this issue before production
}


table.fine-table {
  td:nth-of-type(1) {
    width: 30%;
  }
  td:nth-of-type(2) {
    white-space: nowrap;
  }
  tbody tr:last-child {
    font-weight:bold;
    border-top: 3px solid #ddd;
    & td {
      background-color: #fcf8e3;
    }
  }
  @media(max-width: 544px) {
    thead {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
    tbody {
      td:nth-of-type(1) {
        width: 100%;
        &:before {
          content: "Title &amp; Location: ";
          font-weight: bold;
        }
      }
      td:nth-of-type(2):before {
        content: "Bill Date: ";
        font-weight: bold;
      }
      td:nth-of-type(3):before {
        content: "Due Date: ";
        font-weight: bold;
      }
      td:nth-of-type(4):before {
        content: "Checked Out: ";
        font-weight: bold;
      }
      td:nth-of-type(5):before {
        content: "Fine: ";
        font-weight: bold;
      }
      td:nth-of-type(6):before {
        content: "Fee: ";
        font-weight: bold;
      }
      td:nth-of-type(7):before {
        content: "Balance: ";
        font-weight: bold;
      }
    }
  }
}

table.datagrid {  // Problem with dropdown in mobile
  border-bottom: 1px solid #ddd;
  margin: 2em 0;
  @media(max-width: 544px) {
    thead {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
    tbody {
      td:nth-of-type(2):before {
        content: "Title: ";
        font-weight: bold;
      }
      td:nth-of-type(3):before {
        content: "Call Number: ";
        font-weight: bold;
      }
      td:nth-of-type(4):before {
        content: "Copy: ";
        font-weight: bold;
      }
    }
  }
}

button.request {
  background: #ccc0c0;
  color: #000;
}


// ___ Div Selection Input ___ //


input[type="checkbox"]{
  margin: 1em 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  position: relative;
  width: 2em;
  height: 2em;
  border: 1px solid gray;
  transition: all .3s linear;
  &:checked {
    background-color: #616530;
    border: none;
    &:before {
      content: "\f00c";
      font-family: 'FontAwesome';
      color: #fff;
      font-size: 1.5em;
      padding-left: 0.2em;
    }
  }
  &:focus{
    outline: 0 none;
    box-shadow: none;
  }
}




