@import "base.scss";

.alert {
  margin: 10px 0;
}

.alert-list {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid;
}

.item-type {
  color: #9A5324;
  font-weight: 600;
}

.due-date {
  font-weight: 600;
  color: #800000;
  font-size: 1.1em;
}

a.title {
  font-weight: 600;
  font-size: 1.1em;
}

[id^="record"] {
	padding-top: 7px;
	padding-bottom: 7px;
  line-height: 1.5em;
	&:nth-of-type(odd) {
		background-color: #fff;
		@include respond-to(small) {
			background-color: #f2efef;
		}
	}
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color: #806362;
}

.toolbar {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}


// ___ Div Selection Input ___ //


input[type="checkbox"]{
  margin: 1em 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  position: relative;
  width: 2em;
  height: 2em;
  border: 1px solid gray;
  transition: all .3s linear;
  &:checked {
    background-color: #616530;
    border: none;
    &:before {
      content: "\f00c";
      font-family: 'FontAwesome';
      color: #fff;
      font-size: 1.5em;
      padding-left: 0.2em;
    }
  }
  &:focus{
    outline: 0 none;
    box-shadow: none;
  }
}




